<% layout('/layouts/boilerplate')%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2>List your Property</h2>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input 
                        name="listing[title]" 
                        placeholder="enter title" 
                        class="form-control"
                        required
                    />
                    <div class="valid-feedback">Title Looks Nice !</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea  name="listing[description]" class="form-control" required></textarea> 
                    <div class="invalid-feedback">Description should be short</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">image</label>
                    <input 
                        name="listing[image]" 
                        type="file" 
                        class="form-control"
                        required
                    />
                </div>

                <div class="row ">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">price</label>
                        <input 
                            name="listing[price]" 
                            placeholder="enter price" 
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input 
                            name="listing[country]" 
                            placeholder="enter country" 
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input 
                        name="listing[location]" 
                        placeholder="enter location" 
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-danger add-btn mt-3">Add</button>
            </form>    
        </div>
    </div>
</body>