<% layout('/layouts/boilerplate')%>

<div class="row  mt-5">
    <div class="alert alert-danger col-6 offset-3 error-alert" role="alert">
        <h4 class="alert-heading"> Error : <%=err.message%></h4>
        <!-- <p><%=err.stack%></p> -->
    </div>
</div>
